@(message: String)

@main("Welcome to Play") {


<!doctype html>

<html lang="en">

    <style>
            body {
                background-color: #678ee6;
            }

            h1 {
                color: #000000;
                margin-left: 40px;
            }

            h2 {
                color: 000000;
                margin-left: 40px;
            }


            div {
                color: 000000;
                margin-left: 40px;
            }


    </style>
    <head>
        <meta charset="utf-8">
        <title>Welcome to your Travel Agenda!!!</title>
    </head>

    <body>

        <h1> Welcome to your Travel Agenda!!! </h1>


        <h2>This app was created using the Scala Play Framework </h2>

        <p>
            Created By Evi Nikolaidou
        </p>








    </body>

@*    <div>*@

@*        <a class = "button" href="@routes.destinationController.showSongForm()"><button>Submit Song</button></a>*@

@*    </div>*@
</html>
}